@media screen and (min-width: 2440px) {
  /* service */
  .wrap-section-service .image-box-wrap {
    left: 1400rem;
  }
  /* /service */
}

@media screen and (max-width: 1600px) {
  /* service */
  .wrap-section-service .wrap-service {
    max-width: 65%;
  }
  .wrap-section-service .image-box-wrap {
    left: 1080rem;
  }
  /* /service */
}

@media screen and (max-width: 1366px) {
  /* service */
  .wrap-section-service .wrap-service {
    max-width: 60%;
  }
  .wrap-section-service .image-box-wrap {
    left: 970rem;
  }
  /* /service */
}

@media screen and (max-width: 1024px) {
  /* service */
  .wrap-section-service .wrap-service {
    max-width: 1170rem;
    padding: 0 10rem;
  }
  .wrap-section-service .image-box-wrap {
    left: 670rem;
  }
  /* /service */
}

@media screen and (max-width: 992px) {
  /* service */
  .wrap-section-service {
    padding-top: 340rem;
    padding-bottom: 40rem;
  }
  .wrap-section-service .image-box-wrap {
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: translate(20%, 0);
    -moz-transform: translate(20%, 0);
    -ms-transform: translate(20%, 0);
    -o-transform: translate(20%, 0);
    transform: translate(20%, 0);
  }
  .wrap-section-service .image-box-wrap img {
    max-height: 350rem;
  }
  .wrap-section-service .wrap-service .conteiner-service {
    padding-left: 150rem;
  }
  .wrap-section-service .wrap-service .conteiner-service .header-service {
    margin-bottom: 20rem;
  }
  .wrap-section-service .wrap-service .conteiner-service .service-list ul li {
    margin-bottom: 10rem;
  }
  /* /service */
}

@media screen and (max-width: 767px) {
  /* service */
  .wrap-section-service {
    background-color: #edf3f5;
  }
  .wrap-section-service .wrap-service .conteiner-service {
    padding-left: 0;
  }
  /* /service */
}

@media screen and (max-width: 479px) {
  /* service */
  .wrap-section-service .image-box-wrap {
    -webkit-transform: translate(45%, 0);
    -moz-transform: translate(45%, 0);
    -ms-transform: translate(45%, 0);
    -o-transform: translate(45%, 0);
    transform: translate(45%, 0);
  }
  /* /service */
}
