@media screen and (max-width: 1366px) {
  .fon .top_section_animated.animated .top_img_hands {
    left: 38.6%;
  }
  .fon .top_section_animated.animated .top_img_mac {
    right: 1.6%;
    top: 238px;
  }
  .fon .top_section_animated.animated .top_img_tel {
    top: 225px;
    right: 21.8%;
  }
  .top_section .top_section_wrap {
    padding-top: 130px;
  }
}

@media screen and (max-width: 1024px) {
  /*top*/
  .top_section .top_section_wrap {
    font-size: 24rem;
    padding-top: 67px;
    padding-bottom: 100px;
  }
  .top_section .top_section_item {
    font-size: 45rem;
    line-height: 50rem;
    padding-left: 15%;
  }
  .top_section .top_section_middle {
    padding-top: 60px;
    padding-left: 5%;
  }
  .top_section .top_section_middle .tsm_bottom {
    padding-top: 14px;
    font-size: 29rem;
    letter-spacing: -1.2rem;
  }
  .top_section .top_section_bottom {
    padding-top: 44px;
  }
  .top_section .order_button {
    padding-left: 5%;
  }
  .top_section .order_button a {
    text-decoration: none;
    font-size: 14rem;
    letter-spacing: 1.2rem;
  }
  .top_section .top_section_slider_wrap {
    outline: none;
    position: relative;
  }
  .top_section .top_section_slider_wrap:after {
    content: '';
    height: 6px;
    width: 60px;
    background-color: #ecf0f1;
    position: absolute;
    left: 15%;
    bottom: -36px;
  }
  .top_section .top_section_slider_wrap .slick-slide {
    outline: none;
  }
  /*blue block*/
  .fon .top_section_animated img {
    max-width: 60%;
  }
  .fon .top_section_animated .top_img_hands {
    top: 255px;
    left: 0;
  }
  .fon .top_section_animated .top_img_mac {
    top: 268px;
    right: -10%;
  }
  .fon .top_section_animated .top_img_tel {
    top: -10%;
    right: 700px;
  }
  .fon .top_section_animated .top_img_glass {
    top: 473px;
    left: 59.8%;
  }
  .fon .top_section_animated.animated .top_img_hands {
    left: 56.6%;
  }
  .fon .top_section_animated.animated .top_img_mac {
    right: -15.4%;
  }
  .fon .top_section_animated.animated .top_img_tel {
    top: 390px;
    right: 19.8%;
  }
  .fon .top_section_animated.animated .top_img_glass {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  /*header*/
  .header .header-line {
    padding-right: 2.6%;
  }
  /*top*/
  .top_section .top_section_wrap {
    font-size: 24rem;
    padding-top: 67px;
    padding-bottom: 100px;
  }
  .top_section .top_section_item {
    font-size: 45rem;
    line-height: 50rem;
    padding-left: 10%;
  }
  .top_section .top_section_middle {
    padding-top: 60px;
    padding-left: 5%;
  }
  .top_section .top_section_middle .tsm_bottom {
    padding-top: 14px;
    font-size: 29rem;
    letter-spacing: -1.2rem;
    max-width: 60%;
  }
  .top_section .top_section_bottom {
    padding-top: 44px;
  }
  .top_section .order_button {
    padding-left: 5%;
  }
  .top_section .top_section_slider_wrap:after {
    left: 10%;
  }
  .fon .top_section_animated img {
    max-width: 60%;
  }
  .fon .top_section_animated .top_img_hands {
    top: 227px;
    left: 0;
  }
  .fon .top_section_animated .top_img_mac {
    top: 268px;
    right: -10%;
  }
  .fon .top_section_animated .top_img_tel {
    top: -10%;
    right: 700px;
  }
  .fon .top_section_animated .top_img_glass {
    top: 473px;
    left: 59.8%;
  }
  .fon .top_section_animated.animated .top_img_hands {
    left: 54.6%;
    top: 317px;
  }
  .fon .top_section_animated.animated .top_img_mac {
    right: -27.4%;
  }
  .fon .top_section_animated.animated .top_img_tel {
    display: none;
  }
  .fon .top_section_animated.animated .top_img_glass {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-color: #46c8dc;
  }
  .fon .top_section_animated img {
    max-width: 60%;
  }
  .fon .top_section_animated .top_img_hands {
    top: 227px;
    left: 0;
  }
  .fon .top_section_animated .top_img_mac {
    top: 268px;
    right: -10%;
  }
  .fon .top_section_animated .top_img_tel {
    top: -10%;
    right: 700px;
  }
  .fon .top_section_animated .top_img_glass {
    top: 473px;
    left: 59.8%;
  }
  .fon .top_section_animated.animated .top_img_hands {
    left: 45.6%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 441px;
  }
  .fon .top_section_animated.animated .top_img_mac {
    right: 3.6%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 505px;
  }
  .fon .top_section_animated.animated .top_img_tel {
    top: 390px;
    right: 19.8%;
  }
  .fon .top_section_animated.animated .top_img_glass {
    display: none;
  }
  /*top*/
  .top_section {
    background-color: #46c8dc;
  }
  .top_section .top_section_wrap {
    font-size: 24rem;
    padding-top: 67px;
    padding-bottom: 22px;
    margin-bottom: 300px;
  }
  .top_section .top_section_item {
    font-size: 40rem;
    line-height: 47rem;
    padding-left: 10%;
  }
  .top_section .top_section_middle {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .top_section .top_section_middle .tsm_bottom {
    padding-top: 14px;
    font-size: 29rem;
    letter-spacing: -1.2rem;
    max-width: 100%;
  }
  .top_section .top_section_bottom {
    padding-top: 30px;
    text-align: center;
  }
  .top_section .order_button {
    padding-left: 0;
    display: inline-block;
  }
  .top_section .top_section_slider_wrap:after {
    left: 10%;
  }
}

@media screen and (max-width: 666px) {
  .top_section .top_section_wrap {
    margin-bottom: 235px;
  }
}

@media screen and (max-width: 479px) {
  .top_section .top_section_wrap {
    margin-bottom: 0px;
  }
}
