@media screen and (min-width: 2440px) {
  /* fon */
  .fon .grey-block {
    left: 77%;
  }
  /* /fon */
}

@media screen and (max-width: 1366px) {
  /* fon */
  .fon .grey-block {
    left: 99%;
  }
  /* /fon */
  /* header nav */
  .sendwich-wrap {
    display: block;
  }
  .header .header-navigation {
    width: 100rem;
  }
  .header .header-logo a {
    font-size: 18rem;
    padding: 10rem 0;
  }
  .header .header-nav {
    display: none;
    width: 100%;
  }
  .header .header-nav a {
    padding: 10rem 0 10rem 0;
  }
  .header .header-nav li:last-child a {
    padding: 10rem 0 20rem 0;
  }
  /* /header nav */
}

@media screen and (max-width: 1024px) {
  /* fon */
  .fon .grey-block {
    top: 3.3%;
    left: 115%;
  }
  /* /fon */
}

@media screen and (max-width: 992px) {
  /* fon */
  .fon .grey-block {
    top: 3.3%;
    left: 150%;
  }
  /* /fon */
}

@media screen and (max-width: 767px) {
  /* fon */
  .fon .blue-block, .fon .grey-block {
    display: none;
  }
  /* /fon */
}
