@media screen and (max-width: 1024px) {
  /* header nav */
  .sendwich-wrap {
    display: block;
  }
  .header .header-navigation {
    width: 100rem;
  }
  .header .header-logo a {
    font-size: 18rem;
    padding: 10rem 0;
  }
  .header .header-nav {
    display: none;
    width: 100%;
  }
  .header .header-nav a {
    padding: 10rem 0 10rem 0;
  }
  .header .header-nav li:last-child a {
    padding: 10rem 0 20rem 0;
  }
  /* /header nav */
}
