/* header menu */
.header .header-menu {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 15rem;
  z-index: 4;
  text-align: center;
}

.header .header-navigation {
  background-color: #272a33;
}

.header .header-nav {
  width: 203rem;
}

.header .header-nav ul {
  list-style-type: none;
}

.header .header-nav li {
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}

.header .header-nav li:hover {
  background-color: #2e3139;
}

.header .header-nav li:hover a {
  color: #58cee0;
}

.header .header-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  display: block;
  padding: 46rem 0px;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  font-weight: 300;
}

.header .header-logo a {
  padding: 39rem 0px;
  display: block;
  font-size: 24rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.header .header-logo a span {
  font-weight: normal;
}

.sendwich-wrap {
  text-align: center;
  padding: 10rem 0 10rem 0;
  display: none;
}

.sendwich-wrap .sendwich-icon {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  padding-top: 11rem;
  cursor: pointer;
}

.sendwich-wrap .sendwich-icon span {
  width: 25rem;
  height: 3rem;
  display: block;
  background-color: #fff;
  position: relative;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.sendwich-wrap .sendwich-icon span:before, .sendwich-wrap .sendwich-icon span:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 25rem;
  height: 3rem;
  left: 0rem;
  background-color: #fff;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -webkit-transform 300ms ease;
  -moz-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -moz-transform 300ms ease;
  -o-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -o-transform 300ms ease;
  transition: left 300ms ease, top 300ms ease, bottom 300ms ease, transform 300ms ease;
}

.sendwich-wrap .sendwich-icon span:before {
  top: -11rem;
}

.sendwich-wrap .sendwich-icon span:after {
  bottom: -11rem;
}

.sendwich-wrap .sendwich-icon.active span {
  background-color: transparent;
}

.sendwich-wrap .sendwich-icon.active span:before, .sendwich-wrap .sendwich-icon.active span:after {
  left: 2rem;
}

.sendwich-wrap .sendwich-icon.active span:before {
  top: -9rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sendwich-wrap .sendwich-icon.active span:after {
  bottom: -9rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* /header menu */
/* tarifs */
.tarifs {
  padding-top: 300rem;
}

.tarifs-title-main {
  font-weight: 900;
  font-size: 48rem;
  position: relative;
  color: #4a5557;
  padding-bottom: 20rem;
  margin-bottom: 50rem;
  text-transform: uppercase;
  margin-left: 6rem;
  opacity: 0;
  -webkit-transform: translate(0, -20%);
  -moz-transform: translate(0, -20%);
  -ms-transform: translate(0, -20%);
  -o-transform: translate(0, -20%);
  transform: translate(0, -20%);
  -webkit-transition: opacity 500ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 500ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 500ms ease, -o-transform 300ms ease;
  transition: opacity 500ms ease, transform 300ms ease;
}

.tarifs-title-main.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tarifs-title-main:after {
  content: '';
  display: block;
  position: absolute;
  width: 66rem;
  height: 7rem;
  background-color: #46c8dc;
  bottom: 0;
  left: 0;
}

.tarifs-wrap-main {
  margin: 0 -10rem;
  text-align: center;
}

.tarifs-item-wrap {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(33.33% - 3rem);
  width: -moz-calc(33.33% - 3rem);
  width: calc(33.33% - 3rem);
  padding: 0 1%;
  opacity: 0;
  -webkit-transform: translate(0, -20%);
  -moz-transform: translate(0, -20%);
  -ms-transform: translate(0, -20%);
  -o-transform: translate(0, -20%);
  transform: translate(0, -20%);
  -webkit-transition: opacity 500ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 500ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 500ms ease, -o-transform 300ms ease;
  transition: opacity 500ms ease, transform 300ms ease;
}

.tarifs-item-wrap.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tarifs-item {
  -webkit-box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.21);
  background-color: #f2f7f8;
  padding-bottom: 35rem;
}

.tarifs-title {
  background-color: #40434b;
  font-size: 30rem;
  color: #f2fdff;
  padding: 20rem 0 20rem 0;
}

.tarifs-price {
  float: left;
  width: 50%;
}

.tarifs-price:last-child .tarifs-price-num {
  background-color: #d8dcdf;
}

.tarifs-price .tarifs-price-title {
  font-size: 16rem;
  font-weight: 500;
  color: #b0b0b0;
  padding: 25rem 0 25rem 0;
}

.tarifs-price .tarifs-price-num {
  background-color: #eaeff0;
  padding: 20rem 0 12rem 0;
  font-size: 18rem;
  color: #4a5557;
  font-weight: 700;
}

.tarifs-price .tarifs-price-num p {
  font-size: 60rem;
}

.tarifs-description {
  display: table;
  width: 100%;
  padding: 35rem 0 20rem 0;
}

.tarifs-description .tarifs-description-item {
  display: table-cell;
  vertical-align: middle;
  font-size: 17rem;
  color: #4a5557;
}

.tarifs-button {
  text-align: center;
}

.tarifs-button .button {
  background-color: #46c8dc;
  display: inline-block;
  max-width: 215rem;
  width: 100%;
  height: 70rem;
  line-height: 70rem;
  color: #fff;
  font-size: 14rem;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  text-decoration: none;
  border: 2rem solid transparent;
  -webkit-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  -moz-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  -o-transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
}

.tarifs-button .button:hover {
  border-color: #46c8dc;
  color: #46c8dc;
  background-color: #fff;
}

/* /tarifs */
