/* header menu */
.header .header-menu {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 15rem;
  z-index: 4;
  text-align: center;
}

.header .header-navigation {
  background-color: #272a33;
}

.header .header-nav {
  width: 203rem;
}

.header .header-nav ul {
  list-style-type: none;
}

.header .header-nav li {
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}

.header .header-nav li:hover {
  background-color: #2e3139;
}

.header .header-nav li:hover a {
  color: #58cee0;
}

.header .header-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  display: block;
  padding: 46rem 0px;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  font-weight: 300;
}

.header .header-logo a {
  padding: 39rem 0px;
  display: block;
  font-size: 24rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.header .header-logo a span {
  font-weight: normal;
}

.sendwich-wrap {
  text-align: center;
  padding: 10rem 0 10rem 0;
}

.sendwich-wrap .sendwich-icon {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  padding-top: 11rem;
}

.sendwich-wrap .sendwich-icon span {
  width: 25rem;
  height: 3rem;
  background-color: #fff;
  position: relative;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.sendwich-wrap .sendwich-icon span:before, .sendwich-wrap .sendwich-icon span:after {
  content: '';
  display: block;
  position: absolute;
  width: 25rem;
  height: 3rem;
  left: 0rem;
  background-color: #fff;
  -webkit-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -webkit-transform 300ms ease;
  -moz-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -moz-transform 300ms ease;
  -o-transition: left 300ms ease, top 300ms ease, bottom 300ms ease, -o-transform 300ms ease;
  transition: left 300ms ease, top 300ms ease, bottom 300ms ease, transform 300ms ease;
}

.sendwich-wrap .sendwich-icon span:before {
  top: -11rem;
}

.sendwich-wrap .sendwich-icon span:after {
  bottom: -11rem;
}

/* /header menu */
