.header .header-menu {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 15rem;
  z-index: 4;
  text-align: center;
}

.header .header-navigation {
  background-color: #272a33;
}

.header .header-nav {
  width: 203rem;
}

.header .header-nav ul {
  list-style-type: none;
}

.header .header-nav li {
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}

.header .header-nav li:hover {
  background-color: #2e3139;
}

.header .header-nav li:hover a {
  color: #58cee0;
}

.header .header-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  display: block;
  padding: 46rem 0px;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  font-weight: 300;
}

.header .header-logo a {
  padding: 39rem 0px;
  display: block;
  font-size: 24rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.header .header-logo a span {
  font-weight: normal;
}
