@media screen and (min-width: 2440px){

    /* service */

    .wrap-section-service{
        .image-box-wrap{left:1400rem;}
    }

    /* /service */
}

@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

    /* service */

    .wrap-section-service{
        .wrap-service{max-width: 65%;}
        .image-box-wrap{left: 1080rem;}
    }

    /* /service */

}
@media screen and (max-width: 1366px){

    /* service */

    .wrap-section-service{
        .wrap-service{max-width: 60%;}
        .image-box-wrap{left: 970rem;}
    }

    /* /service */

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    /* service */

    .wrap-section-service{
        .wrap-service{max-width: 1170rem;padding:0 10rem;}
        .image-box-wrap{left: 670rem;}
    }

    /* /service */

}
@media screen and (max-width: 992px){

    /* service */

    .wrap-section-service{padding-top: 340rem;padding-bottom: 40rem;
        .image-box-wrap{left: auto;right: 0;top: 0;transform:translate(20%, 0);
            img{max-height: 350rem;}
        }
        .wrap-service{
            .conteiner-service{padding-left: 150rem;
                .header-service{margin-bottom: 20rem;}
                .service-list ul li{margin-bottom: 10rem;}
            }
        }

    }

    /* /service */

}
@media screen and (max-width: 767px){

    /* service */

    .wrap-section-service{background-color: #edf3f5;
        .wrap-service{
            .conteiner-service{padding-left: 0;}
        }
    }

    /* /service */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

    /* service */

    .wrap-section-service{
        .image-box-wrap{transform:translate(45%, 0);}
    }

    /* /service */

}
@media screen and (max-width: 320px){

}