.wrap-section-service{width: 100%;position: relative;z-index: 1;
    .wrap-service{ width: 100%; max-width: 1170rem; margin: 0 auto; z-index: 2;
        .conteiner-service{ width: 100%;
            .header-service{font-size: 48rem; text-transform: uppercase;  text-align: left; font-family: "Helvetica"; font-weight:900; }
            .service-list{max-width: 770rem;
                ul li{ font-size: 19rem; list-style-type: none; font-weight:300; font-family: "Helvetica";
                    &:before{ margin-right: 20rem; width:16rem; height: 16rem; content: ""; border-radius: 16rem;-moz-border-radius: 16rem; -webkit-border-radius: rem;background-color:#46c8dc; display: inline-block;}
                }
            }
        }
    }
    .image-box-wrap{position: absolute;right: 0;top: 0;
        .image-box{ }
    }
}