/* fonts */
@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.eot');
    src: local('O'),
    url('../fonts/slick.woff') format('woff'),
    url('../fonts/slick.ttf') format('truetype'),
    url('../fonts/slick.svg') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: local('O'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;}

//1
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Black.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Black.svg') format('svg');
    font-weight: 800;
    font-style: normal;}
//2
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-BlackItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-BlackItalic.svg') format('svg');
    font-weight: 800;
    font-style: italic;}
//3
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;}
//4
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-BoldItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;}
//5
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Heavy.svg') format('svg');
    font-weight: 900;
    font-style: normal;}
//6
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-HeavyItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-HeavyItalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;}
//7
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Italic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;}

//8
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;}

//9
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;}

//10
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;}

//11
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-MediumItalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;}

//12
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
    font-weight: 600;
    font-style: normal;}

//13
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;}

//14
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-ThinItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-ThinItalic.svg') format('svg');
    font-weight: 100;
    font-style: italic;}

//15
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-UltraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;}

//16
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-UltraLightItalic.eot');
    src: local('O'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-UltraLightItalic.svg') format('svg');
    font-weight: 200;
    font-style: italic;}


/* /fonts*/