/*blue block*/
.fon{position: absolute;top: 0;left:0;right: 0;bottom: 0;z-index: 1;overflow: hidden;
    .more_slide{position: relative;z-index: 5;}
    .slide{opacity: 0;transition:all ease-out .3s;z-index: 2}
    .slide.active{opacity: 1;}

    .slider_1_image{position: absolute;right: 14%;top: 141px;z-index: 1;}
    .slider_3_image{position: absolute;right: 14%;top: 232px;z-index: 1;}

    .blue-block{position: absolute;top: -998.6rem;right: 54.6%;background-color: #46c8dc;height: 3000px;width: 80%;z-index: 1;transform: rotate(42.1deg);}
    .grey-block{transform: rotate(-47.8deg);top: 10.3%;left: 85%;width: 1021px;position: absolute;background-color: #edf3f5;height: 5000px;z-index: 1}

    .top_section_animated{position: relative;


        .top_img_hands{position: absolute;top: 227px;left: 0;transition:left ease .5s,opacity ease .7s;opacity: 0;}
        .top_img_mac{position: absolute;top: 227px;right: -10%;z-index: -1;transition:right ease .5s,opacity ease .7s;opacity: 0;}
        .top_img_tel{position: absolute;top: -10%;right: 700px;z-index: 1;transition:right ease .5s,top ease .5s,opacity ease .7s;opacity: 0;}
        .top_img_glass{position: absolute;top: 473px;left: 59.8%;z-index: 1;opacity: 0;transition:opacity ease .8s;}
        &.animated{
            .top_img_hands{left: 45.6%;opacity: 1;}
            .top_img_mac{right: 11.6%;opacity: 1;}
            .top_img_tel{top: 233px;right: 29.8%;opacity: 1;}
            .top_img_glass{opacity: 1;}
        }
    }
}

.main{min-height: 5000px;}
/*heawder*/
.header{color: white;position: relative;z-index: 3;
    // .header-menu{position: fixed;left: 0;top: 0;font-size: 15rem;z-index: 4;text-align: center;}
    // .header-navigation{background-color: #272a33;}
    // .header-nav{width: 203rem;
    //     ul{list-style-type: none;}
    //     li{transition:all ease .2s;
    //         &:hover{background-color: #2e3139;
    //             a{color: #58cee0;}
    //         }
    //     }
    //     a{color: #fff;text-decoration: none;padding: 10px 0px;display: block;padding: 46rem 0px;transition:all ease .2s;font-weight: 300;}
    // }
    // .header-logo{
    //     a{padding: 39rem 0px;display: block;font-size: 24rem;text-decoration: none;color: white;font-weight: 300;
    //         span{font-weight: normal;}
    //     }
    // }
    .header-line{padding-right: 21.6%;position: relative;z-index: 1;padding-top: 31.2rem;
        .header-line-wrap{text-align: right;font-size: 20rem;color: #000;}
        .head-skype,.head-icq{display: inline-block;vertical-align: top;}
        .head-skype{margin-right: 30rem;}
        a{text-decoration: none;color: #000;font-size: 15rem;font-weight: 400;}
        .icon-skype{display: inline-block;height: 17px;width: 17px;vertical-align: middle;background: url('../images/head-skype.png') center center no-repeat;margin-right: 10rem;}
        .icon-icq{display: inline-block;height: 17px;width: 17px;vertical-align: middle;background: url('../images/head-ick.png') center center no-repeat;margin-right: 10rem;}
    }
}

/*top*/
.top_section{
    .top_section_wrap{font-size: 30rem;color: #3e3e3f;width: 100%;max-width: 1170px;margin: 0 auto;padding-top: 103px;padding-bottom: 206px;}

    .top_section_item{color: #fff;font-weight: 100;font-size: 69rem;line-height: 74rem;position: relative;max-height: 300px;
        b{font-weight: bold;}
        p.hidden{opacity: 0;background-color: red;}
    }
    .top_section_middle{padding-top: 74px;
        .tsm_top{font-weight: bold;}
        .tsm_bottom{padding-top: 14px;font-size: 29rem;letter-spacing: -1.2rem;color: white;}
    }
    .top_section_bottom{padding-top: 44px;}
    .order_button{position: relative;
        a{text-decoration: none;font-size: 14rem;color: #ffffff;text-transform: uppercase;display: inline-block;text-align: center;border:3px solid white;border-radius: 4px;padding: 26px 87px;font-weight: bold;letter-spacing: 1.2rem;transition:all ease .2s;display: inline-block;
            &:hover{color: #46c8dc;background-color: #fff;}
        }
        span{}
        &:active{top: 2px;}
    }
    .top_section_slider{
        .slick-arrow{display: none !important;}
    }
    .top_section_slider_wrap{outline: none;position: relative;
        &:after{content: '';height: 7px;width: 100px;background-color: #ecf0f1;position: absolute;left: 0;bottom: -36px;}
        .slick-slide{outline: none;}
    }
}