/*blue block*/
.blue-block{position: absolute;top: -998.6rem;right: 57.6%;background-color: #46c8dc;height: 3000px;width: 80%;z-index: -1;transform: rotate(42.1deg);}

/*heawder*/
.header{color: white;position: relative;z-index: 2;
    .header-menu{position: fixed;left: 0;top: 0;font-size: 15rem;z-index: 3;text-align: center;}
    .header-navigation{background-color: #272a33;}
    .header-nav{width: 203rem;
        ul{list-style-type: none;}
        li{transition:all ease .2s;
            &:hover{background-color: #2e3139;
                a{color: #58cee0;}
            }
        }
        a{color: #fff;text-decoration: none;padding: 10px 0px;display: block;padding: 46rem 0px;transition:all ease .2s;font-weight: 300;}
    }
    .header-logo{
        a{padding: 39rem 0px;display: block;font-size: 24rem;text-decoration: none;color: white;font-weight: 300;
            span{font-weight: normal;}
        }
    }
    .header-line{padding-right: 21.6%;position: relative;z-index: 1;padding-top: 31.2rem;
        .header-line-wrap{text-align: right;font-size: 20rem;color: #000;}
        .head-skype,.head-icq{display: inline-block;vertical-align: top;}
        .head-skype{margin-right: 30rem;}
        a{text-decoration: none;color: #000;font-size: 15rem;font-weight: 400;}
        .icon-skype{display: inline-block;height: 17px;width: 17px;vertical-align: middle;background: url('../images/head-skype.png') center center no-repeat;margin-right: 10rem;}
        .icon-icq{display: inline-block;height: 17px;width: 17px;vertical-align: middle;background: url('../images/head-ick.png') center center no-repeat;margin-right: 10rem;}
    }
}