
/* algoritm */

.algoritm{
	.mbox{max-width: 1170rem; width: 100%;
		.algoritm-wrap{padding-bottom: 254px;
			.algoritm-title{margin-bottom: 90px;
				h2{text-transform: uppercase; font-family: 'Helvetica'; font-weight: 900; font-size: 48rem;color: #535353;text-align: center;}
			}
			.body-img-wrap{position: absolute;top: 33%;left: 9%;}
			.algoritm-list{float: right;width: 76%;
				span{width: 70rem; height: 70rem; background-color: #46C8DC; border-radius: 50%; font-size: 24rem;font-weight: 900; font-family: 'Helvetica'; color: #fff;display: inline-block;text-align: center;position: relative;vertical-align: middle;padding-top: 20px;box-sizing: border-box;margin-right: 40px;}
				p{vertical-align: middle;display: inline-block; width: 71%;}
				%li0{font-weight: 300; font-family: 'Helvetica'; color: #959595; font-size: 19rem;list-style-type: none;display: inline-block;padding-left: 10px;margin-bottom: 2px;}
				@for $i from 0 through 6 {
				  .li0#{$i} {
				    @extend %li0;
				    $margin: 1.77%*($i*5);  
				    margin-left:$margin;
				  }
				}
			}
		}
	}
}

/* /algoritm */

/* animation */

.algoritm-list{
	li{
		span{transform:translateX(-1000%); transition: transform 300ms ease, opacity 500ms ease;opacity: 0;}
		p{transform:translateX(1000%); transition: transform 300ms ease, opacity 500ms ease;opacity: 0;}
		&.animated{
			span{transform:translateX(0%); opacity: 1;}
			p{transform:translateX(0%); opacity: 1;}
		}
	}
}

/* /animation */


/* footer */

.footer{background-color: #272A33;padding-top: 99rem;padding-bottom: 35rem;
	.mbox{width: 100%; max-width: 1170rem;
		.logo-footer-wrap{float: left;margin-right: 9%;padding-bottom: 25px;margin-left: 11px;
			.logo-footer{padding: 10px 0px;
				img{max-width: 100%;}
			}
		}
		.pays-wrap{float: left;padding-bottom: 20px;
			.pay{display: inline-block;margin-right: 24px;
				img{vertical-align: middle;display: inline-block;}
				&:last-child{margin-right: 0;}
			}
		}
		.socials-wrap{float: left;width: 23%;
			.socials{margin: 0 auto;float: none;
				div{width: 25rem;height: 25rem;float: left;margin-right: 16rem; margin-left: 10rem;
					&.vk{background-image: url(../images/vk.png);background-repeat: no-repeat;}
					&.face{background-image: url(../images/face.png);background-repeat: no-repeat;}
					&.inst{background-image: url(../images/inst.png);background-repeat: no-repeat;}
					a{width: 100%;height: 100%;display: block;}
				}
			}
		}
		.copy-right{float: right;    padding-top: 30px;
			p{font-family: 'Helvetica'; font-weight: 300; font-size: 14rem;color: rgba(255,255,255,0.43);}
		}
	}
}

/* /footer */


/* action */

.action{position: relative;
	.action-title{
		h2{font-family: 'Helvetica'; font-size: 60rem;font-weight: 700; text-transform: uppercase;color: #fff;position: relative;text-align: right;padding-bottom: 77rem;
			span{color: #4a5557;}
			&:before{display: block;content: '';position: absolute;bottom: 54rem;right: 6rem;width: 67rem;height: 7rem;background-color: #fff;}
		}
	}
	.action-body{float: right;
		.action-body-title{text-align: center;
			h2{font-size: 57rem; font-family: 'Helvetica'; font-weight: 700; color: #3e3e3f;padding-bottom: 40px;
				span{font-weight: 100; font-size: 53rem;display: block;padding-top: 7px;}
			}
		}
		.action-body-price{border: 9rem solid #fff;
			h2{font-family: 'Helvetica'; font-weight: 700; color: #fff;font-size: 151rem;padding-left: 27px;
				span{font-size: 24rem;color: #3e3e3f;margin-left: 20rem;}
			}
		}
	}
		.action-img{position: absolute;left: -15rem;top: 181px;
			img{max-width: 100%;}
		}
}

/* /action */
 